* {
    box-sizing: border-box;
}
 
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875em;
}

body {
    margin: 0;
    padding: 0 2em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    input {
        border: none;
        border-bottom: solid grey 2px;
        color: black;
        font-size: 2rem;
        margin-right: 2rem;
    }

    button {
        background-color: black;
        color: white;
        padding: 1rem 2rem;
        font-size: 2rem;
        border: none;
        border-radius: 10px;
    }

    .result {
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }
}

