html {
  font-family: sans-serif;
  color: #222222;
}

p {
  width: 80%;
  font-size: 14px;
  line-height: 1.6;
}

img {
  max-height: 50vh;
  float: right;
  margin-right: 2vw;
}

.bold {
  font-weight: bold;
}

a, ol {
  color: blue;
  text-decoration: none;
}

a:hover, ol li:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1, h2{
  border-bottom: 0.25px solid rgb(170, 166, 167);
  width: 100%;
  display: block;
  font-family: "Linux Libertine", Georgia, Times, serif;
  }