ol {
  counter-reset: item;
  }

  ol > li {
      counter-increment: item;
  }

  ol ol > li {
      display: block;
  }

  ol ol > li:before {
      content: counters(item, ".") ". ";
      margin-left: -20px;
  }

  h1 {
    border-bottom: 1px solid #D6E2E8;
    width: 100%;
    display: block;
  }

  .Jobs {
    display: inline-block;
    margin-right: 2vw;
    max-height: 30vh;
    float: right;
  }

  .beginning-text p {
    display: inline-block;
    width: 80%;
  }