* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container-all {
  display: flex;
  width: 100%;
  height: 100vh;
}

.menu-left {
  background-color: darkblue;
  padding: .75rem;
  transition: 2s;
  overflow: hidden;
  width: 15%;
}

.spread {
  width: 70%;
}

.links {
  display: flex;
  flex-direction: column;
}

.menu-left img {
  padding: 1rem;
}

.menu-left a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 0 1rem 7rem;
}

.menu-left h2 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
  padding-left: 2rem;
}

.container-menu {
  display: flex;
}

.text-right {
  padding: 2rem;
  font-size: 1.5rem;
}

