* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
}

.flex-page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.header, .sidebar, .article, .footer {
  padding: 2rem;
}

.header, .footer {
  background-color: #1E1C00;
  width: 100%;
  align-items: center;
  display: flex;
}

.sidebar {
  background-color: orangered;
  width: 20%;
  padding-top: 3rem;
  text-align: center;
}

.article {
  background-color: white;
  color: #1E1C00;
  width: 80%;
  text-align: justify;
  padding: 3rem 5rem;
}

.underline {
  border-bottom: .15rem solid rgb(92, 92, 88);
  display: block;
  width: 100%;
}

.footer {
  background-color: lightgray;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  h2 {
    font-size: 1.5rem;
  }
}