* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.snail-box {
  position: relative;
  width: 90%;
  border-right: solid black 3px;
  height: 9.5rem;
  overflow: hidden;
}

.snail-racer {
  width: 160px;
  position: absolute;
  left: 0px;
  transition: 1s;
}

.snail {
  width: 100%;
  height: auto;
}

.snail__body {
  fill: #6db302;
}

.snail__shell {
  fill: red;
}

.snail-racer__name {
  font-weight: bold;
  text-align: center;
  font-size: 120%;
}